#_remove example from extension & update with actual vars
USER="youruser"
PASS="yourpass"

URL1="#_____#__#####__#######__#_____#_######___######__######__#######_#_____#__#####__######"
URL2="#_____#_#_____#_#________#_____#_#_____#__#_____#_#_____#_#_____#_#__#__#_#_____#_#_____#"
URL3="#_____#_#_______#________#_____#_#_____#__#_____#_#_____#_#_____#_#__#__#_#_______#_____#"
URL4="#_____#__#####__#####____#_____#_######___######__######__#_____#_#__#__#__#####__######"
URL5="#_____#_______#_#________#_____#_#___#____#_____#_#___#___#_____#_#__#__#_______#_#___#"
URL6="#_____#_#_____#_#________#_____#_#____#___#_____#_#____#__#_____#_#__#__#_#_____#_#____#"
URL7="_#####___#####__#######___#####__#_____#__######__#_____#_#######__##_##___#####__#_____#"
URL8="__________________________________________________________________________________________"
URL9="__________________________________________________________________________________________"

# https://stackoverflow.com/a/42028789
